/** Custom styles **/
body {
  background-color: #303030;
  user-select: none;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
}

.axis line, .axis path, .axis text {
  stroke: #222;
}

.axis text {
  stroke-width: 0.1px;  
  fill: black;
}

.tooltip {
  position: absolute;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  background: #f99e1a;
  border: 0px;
  border-radius: 8px; 
}

.tooltip p {
  margin: 0;
  padding: 0;
}
